* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #111827;
    height: 100%;
}

header {

    height: 12vh;

    border-bottom: solid 1px gray;
    padding: 16px;


    display: flex;
    align-items: center;
    justify-content: space-between;



    font-size: 32px;
    font-weight: bold;
    color: white
}

button {
    background-color: #f08d49;
    border: 0;
    border-radius: 10px;
    width: 40px;
    height: 40px;

    color: white;
    font-size: 32px;
    text-align: center;
}

main {
    display: flex;

    flex-direction: column;
    width: 100vw;
    gap: 8px;
    padding: 8px;

}

.books {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

form {
    width: 30%;


    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;


    background-color: #1f2937;
    border-radius: 10px;

    color: white;



    padding: 8px;
}

.info {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

label {
    display: flex;
    justify-content: center;
}

input {
    background-color: #111827;
    border: 0;
    border-radius: 10px;
    width: 250px;

    padding: 8px;

    color: white
}

main>div {
    display: flex;
    justify-content: center;
}


.book {

    width: 350px;
    height: 200px;
    background-color: #1f2937;
    border-radius: 10px;

    color: white;



    padding: 8px;



}

.booksTextualContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    height: 90%;
}

.button {
    align-self: start;
}

.bookTitle {
    margin-bottom: 16px;
}

.pages {
    display: flex;
    justify-content: end;
}